<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
         <!-- Add Raptor Icons Package -->
         <link href="{{ asset('Raptor/css/iconsblue.css') }}" rel="stylesheet">
         
         <!-- Add ExtJs Style Library -->
         <link href="{{ asset('extjs/resources/css/azzurra/azzurra-core.css') }}" rel="stylesheet" type="text/css" media="screen"/>
         <link href="{{ asset('extjs/resources/css/azzurra/azzurra-ui-all.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
       <!-- Add Full ExtJs Library  -->
       <script type="text/javascript" src="{{ asset('extjs/ext-all.js') }}"></script>
       
       <script type="text/javascript" src="{{ asset('Raptor/js/raptor-core.js') }}"></script>
       <script type="text/javascript" src="{{ asset('extjs/resources/css/js/azzurra.js') }}"></script>
       {% block javascript %}{% endblock %}
       
       <!-- Add Raptor Client Security Library  -->
      
      <!-- Add ExtJs Languaje Package  -->
       {% if locale()!='' %}
        <script type="text/javascript" src="{{ asset(['extjs/locale/ext-lang-',locale(),'.js']|join()) }}"></script>
       {% endif %}
    </body>
</html>
