<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{%if plugin('rux_icon')%}{{ plugin('rux_icon') }}{%else%}{{ asset("Util/RUX/img/logo.png") }}{%endif%}">

        <title>{%if plugin('rux_name')%}{{ plugin('rux_name') }}{%else%}{{ appname }} {{ version }}{%endif%}</title>
        <link href="{{ asset('Raptor/UIR/css/perfect-scrollbar.css') }}" rel="stylesheet">
        <!-- Bootstrap core CSS -->
        <link href="{{ asset("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset("Util/RUX/lib/pace/themes/orange/pace-theme-minimal.css") }}" />
        <script src="{{ asset("Util/RUX/lib/pace/pace.js") }}"></script>
        <link href="{{ asset("Util/RUX/css/dashboard.css") }}" rel="stylesheet">
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="{{ asset("bootstrap/js/ie-emulation-modes-warning.js") }}"></script>

        <link href="{{ asset('Raptor/UIR/css/uir-all.css') }}" rel="stylesheet"> 

        <link href="{{ asset('Util/RUX/lib/upload/fileinput.min.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">

                .navbar-inverse .navbar-nav > .active > a{
                    background-color: transparent;
                    color: #FFFFFF;
                }
                .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
                    color: #EA9105;
                    background-color: transparent;
                }
                .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
                    color: white;
                    background-color: #2c8fe0;
                }
                .text-notify{
                    color:#777777 !important;
                }
                .pace .pace-activity {
                    right: 50%
                }
                #rux-indicator .col-md-10{
                    animation: opa 1000ms linear infinite;
                }
                @keyframes opa {
                    0% { opacity: 0.5; opacity: 0.5; }
                100% { opacity: 1; opacity: 1; }
                }
                .rux-open-ind{
                    border-left: 4px solid rgba(0, 0, 0, 0);
                    border-right: 4px solid rgba(0, 0, 0, 0);
                    border-top: 4px dashed;
                    display: inline-block;
                    height: 0;
                    margin-left: 2px;
                    vertical-align: middle;
                    width: 0;
                }
                .collapsed .rux-open-ind{
                    border-bottom: 4px solid rgba(0, 0, 0, 0);
                    border-left: 4px dashed;
                    border-top: 4px solid rgba(0, 0, 0, 0);
                    display: inline-block;
                    height: 0;
                    margin-left: 2px;
                    vertical-align: middle;
                    width: 0;
                }
            </style>
            {{ plugin('rux_header')|raw}}
        </head>

        <body>

            <nav class="navbar navbar-inverse navbar-fixed-top rux-header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                          
                        <a class="navbar-brand" href="#" style="padding-top: 5px">
                            <i style="margin-right: 5px;">
                               <img src="{%if plugin('rux_icon')%}{{ plugin('rux_icon') }}{%else%}{{ asset("Util/RUX/img/logo.png") }}{%endif%}" height="40"></i>
                                {%if plugin('rux_name')%}{{ plugin('rux_name') }}{%else%}{{ appname }} {{ version }}{%endif%}
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">


                            <li><a href="#!/{{ routename }}/home/description" class="function-home"><span class="glyphicon glyphicon-home" style="margin-right: 5px"></span>Inicio</a></li>
                            <li><a href="#!/{{ routename }}/profile" class="function-profile"><span class="glyphicon glyphicon-user" style="margin-right: 5px"></span>Perfil</a></li>
                            {{ plugin('rux_navbar')|raw}}
                                <li><a href="home/logout" class="function-logout"><span class="glyphicon glyphicon-log-out" style="margin-right: 5px"></span>Salir</a></li>
                            </ul>
                            <div class="navbar-form navbar-right">

                            </div>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid" uir-app="RUX">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 sidebar rux-sidebar" style="overflow: hidden;height: -moz-calc(100% - 60px);height: -webkit-calc(100% - 60px);height: calc(100% - 60px);padding-bottom: 0;padding-top: 0;padding: 0pc">

                        {% if modules|length ==0 %}

                        {% else %}
                            {% for menuItem in modules %}
                                {% if menuItem['type']==2 %}
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 10px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading{{ menuItem['id'] }}">
                                        <h4 class="panel-title">
                                            <a class="{{ menuItem['className'] }} rux-functions3"  data-toggle="collapse"  href="#collapse{{ menuItem['id'] }}" aria-expanded="true" aria-controls="collapse{{ menuItem['id'] }}">
                                                <b class="caret rux-open-ind"></b>   {{ menuItem['name'] }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ menuItem['id'] }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ menuItem['id'] }}">
                                        <div class="panel-body">
                                            <ul class="nav nav-sidebar" style="">
                                                    {% for child in menuItem.children %}
                                                        {% if child['type']==0 %}
                                                    <li><a href="#javascript;;" class="{{ child['className'] }} rux-functions" route="{{ child['route'] }}">
                                                            {% if child['icon'] %}
                                                                   {% if plugin('rux_sidebar_iconbase') %}              
                                                                    <img src="{{ asset([plugin('rux_sidebar_iconbase'),child['icon'],".png"]|join()) }}" width="25">
                                                                   {% else %}
                                                                    <img src="{{ asset(["Util/RUX/menu/",child['icon'],".png"]|join()) }}" width="25">
                                                                   {% endif %}     
                                                            {% else %}
                                                                    <img src="{{ asset("Util/RUX/img/menu-item.png") }}" width="25">
                                                            {% endif %}

                                                            {{ child['name']|raw }}</a></li>
                                                        {% else %}

                                                        {% endif %}
                                                    {% endfor %}
                                                        </ul>        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                {% endif %}
                            {% endfor %}

                            {% if modules|length>0 %}
                                        <div class="panel panel-default off-child">
                                            <div class="panel-body">
                                                <ul class="nav nav-sidebar" style="">
                            {% for menuItem in modules %}
                                {% if menuItem['type']==0 %}

                                                        <li><a href="#javascript;;" class="{{ menuItem['className'] }} rux-functions" route="{{ menuItem['route'] }}">
                                     {% if menuItem['icon'] %}
                                              {% if plugin('rux_sidebar_iconbase') %}              
                                                                        <img src="{{ asset([plugin('rux_sidebar_iconbase'),child['icon'],".png"]|join()) }}" width="25">
                                              {% else %}
                                                                        <img src="{{ asset(["Util/RUX/menu/",child['icon'],".png"]|join()) }}" width="25">
                                              {% endif %}                                  

                                     {% else %}
                                                                        <img src="{{ asset("Util/RUX/img/menu-item.png") }}" width="25">
                                     {% endif %}

                                     {{ menuItem['name'] }}</a></li>
                                {% endif %}
                            {% endfor %}                           
                                                            </ul>        
                                                        </div>
                                                    </div>
                        {% endif %}    


                        {% endif %}

                                                    {{ plugin('rux_sidebar')|raw}}
                                                </div>

                                                <div id="rux-container" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                                                    <div  id="rux-window" style="width: 100%;height: 100%;display: none;background-size: 100%;background-position: 0 50%;" ></div>
                                                    <div  id="rux-window-cover" style="width: 100%;display: none">
                                                        <iframe  id="rux-window-frame" style="width: 100%;height: 100%;border: none;" src=""></iframe>
                                                    </div>

                                                        {{ plugin('rux_content')|raw}}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Bootstrap core JavaScript
                                        ================================================== -->
                                        <!-- Placed at the end of the document so the pages load faster 
                                        <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
                                        <script src="{{ asset('bootstrap/js/bootstrap.min3.js') }}"></script>
                                        <script src="{{ asset('Util/RUX/lib/upload/fileinput.min.js') }}"></script>
                                        <script src="{{ asset('Util/RUX/lib/upload/theme.js') }}"></script>
                                        <script src="{{ asset('Util/RUX/lib/upload/es.js') }}"></script>
                                        <script src="{{ asset('Raptor/UIR/js/uir-all.js') }}"></script>

                                         
                                        <script src="{{ asset("bootstrap/js/ie10-viewport-bug-workaround.js") }}"></script>
                                        <script src="{{ asset('Raptor/UIR/js/perfect-scrollbar.js') }}"></script>
                                        <script src="{{ asset('Raptor/js/raptor-core.js') }}"></script>
                                        <script src="{{ asset('Raptor/Component/system/backbone/underscore.js') }}"></script>
                                        <script src="{{ asset('Raptor/Component/system/backbone/backbone.js') }}"></script>
                                        <script src="{{ asset('Util/RUX/js/app/view/area.js') }}"></script>
                                        <script src="{{ asset('Util/RUX/js/app/router.js') }}"></script>
                                        <script src="{{ asset('Util/RUX/js/app/app.js') }}"></script>
                                        -->
                                        <script src="{{ asset('Util/RUX/js/rux.js') }}"></script>
                                        <script type="text/javascript">
                                            UIR.STRUCTUREID ={{ idStructure }}
                                                    $('.sidebar').perfectScrollbar({
                                                suppressScrollX: true
                                            });

                                            </script>
                                            {{ plugin('rux_script')|raw}}    
                                        </body>
                                    </html>
