{% extends "@EscritorioBundle/ext-layout.html.twig" %}

{% block javascript %}
    <div class="loadSys" id="loading">
        <img src="{{ asset('AtencionOnline/Escritorio/portal/desktop/images/loader4.gif ') }}" style="text-align: center" width="80"><br><b style="">Cargando...<br>#30 Aniversario</b>
    </div>
    <link href="{{ asset('AtencionOnline/Escritorio/portal/css/desktop.css') }}" rel="stylesheet">
    <link href="{{ asset('AtencionOnline/Escritorio/portal/css/portal.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/BugFixed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/StartMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/TaskBar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/Module.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/Desktop.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/App.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/ShortcutModel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/Wallpaper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/Settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/class/Password.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/mydesktop.js') }}"></script>
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/mydesktopApp.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('AtencionOnline/Escritorio/portal/js/portal.js') }}"></script>
   
{% endblock %}

